<div data-view="snippet">
	<div id="snip-view-head">
		<div class="container">
			<div id="snip-view-title-bar" class="row">
				<div id="snip-view-meta" class="col-md-6">
					<div>
						<i class="icon-user"></i>
						<a id="snip-view-username" href="#"></a>
						/
						<a id="snip-view-repo" href="#"></a>
					</div>
					<div id="snip-view-created" class="text-muted"></div>
				</div>
				<div id="snip-view-buttons" class="text-right col-md-6">
					<button class="btn btn-sm btn-info"><i class="icon-edit"></i> Edit</button>
					<button class="btn btn-sm btn-danger"><i class="icon-delete"></i> Delete</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="snip-view-description"></div>
	</div>
</div>