<div data-view="snippet">
	<div id="snip-view-head">
		<div class="container">
			<div id="snip-view-title-bar" class="row">
				<div id="snip-view-meta" class="col-md-6">
					<div>
						<i class="icon-user"></i>
						<a id="snip-view-username" href="#/profile/<?= snippet.username ?>"><?= snippet.username ?></a>
						/
						<a id="snip-view-repo" href="#/snippet/<?= snippet.id ?>"><?= summa.clean(snippet.files[0].filename) ?></a>
					</div>
					<div id="snip-view-created" class="text-muted"><?= summa.ago(snippet.created) ?></div>
				</div>
				<? if (snippet.username === user.username) { ?>
				<div id="snip-view-buttons" class="text-right col-md-6">
					<a href="#/snippet/<?= snippet.id ?>/edit" id="btn-snip-edit" class="btn btn-sm btn-info"><i class="icon-edit"></i> Edit</a>
					<button id="btn-snip-delete" class="btn btn-sm btn-danger"><i class="icon-delete"></i> Delete</button>
				</div>
				<? } ?>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="snip-view-description"><?= summa.clean(snippet.description) ?></div>

		<? for (var i = 0; i < snippet.files.length; i++) { ?>
		<? var file = snippet.files[i]; ?>
		<div class="snippet-container bordered-box">
			<div class="snippet">
				<div class="snippet-details">
					<div class="snip-view-filename"><i class="icon-file-code"></i> <?= summa.clean(file.filename) ?></div>
					<div class="snip-view-language text-muted"><?= summa.clean(file.language) ?></div>
				</div>
				<? if (typeof file.html !== 'undefined') { ?>
				<div class="snippet-editor markdown"><?= file.html ?></div>
				<? } else { ?>
				<div class="snippet-editor"></div>
				<? } ?>
			</div>
		</div>
		<? } ?>

		<div id="snip-view-comments">
		<? if (Array.isArray(snippet.comments)) { ?>
		<? for (var j = 0; j < snippet.comments.length; j++) { ?>
		<? var comment = snippet.comments[j]; ?>
			<div class="comment-box" data-id="<?= comment.id ?>">
				<div class="bordered-box">
					<div class="comment-container">
						<div class="comment-head">
							<i class="icon-comment"></i>
							<span>
							  <a href="#/profile/<?= comment.username ?>" class="comment-user"><?= comment.displayName ?></a> commented
							</span>
							<? if (comment.username === user.username) { ?>
							<span class="comment-icons">
								<i class="icon-delete"></i>
							</span>
							<? } ?>
							<div class="comment-ago text-muted"><?= summa.ago(comment.created) ?></div>
						</div>
						<div class="comment-body">
							<?= comment.html ?>
						</div>
					</div>
				</div>
			</div>
		<? } ?>
		<? } ?>
		</div>

		<div class="comment-box">
			<i class="icon-chat"></i>
			<div class="bordered-box">
				<div class="comment-editor">
					<label>Leave a comment:</label>
					<div id="comment-is-markdown">Comments are parsed as markdown</div>
					<div id="comment-add-editor"></div>
				</div>
			</div>
		</div>

		<div class="clearfix">
			<div class="buttons-right">
				<button type="button" id="btn-add-comment" class="btn btn-success"><div class="loading"></div>Add Comment</button>
			</div>
		</div>

		<div id="comment-template" class="comment-box" data-id="">
			<div class="bordered-box">
				<div class="comment-container">
					<div class="comment-head">
						<i class="icon-comment"></i>
						<span><a href="" class="comment-user"></a> commented</span>
						<span class="comment-icons">
							<i class="icon-delete"></i>
						</span>
						<div class="comment-ago text-muted"></div>
					</div>
					<div class="comment-body"></div>
				</div>
			</div>
		</div>
	</div>
</div>